.block-content{
    padding: 10px 15px;
    &.no-pad{
        padding: 0;
    }
    &.flex{
        display: flex;
        justify-content: center;
    }
    .box-title{
        // font-size: 20px;
        &.smaller{
            font-size: 20px;
        }
        &.bigger{
            font-size: 36px;
        }
    }
    .box-subtitle{
        font-size: 14px;
    }
    .text{
        color: $text-color-sub;
        &.smaller{
            font-size: 14px;
        }
        &.bigger{
            font-size: 16px;
            font-style: italic;
        }
    }
    a.readmore{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: #777777;
        text-decoration: none;
        transition: 0.4s ease;
        &:hover{
            color: #674646;
            i.fa{
                color: #674646;
            }
        }
        i.fa{
            margin-left: 8px;
        }
    }
}
.box-img{
    padding: 15px 10px;
    .item{
        padding: 0 8px;
        transition: 0.4s ease;
        .item-img{
            position: relative;
            .img-bg{
                position: relative;
            }
        }
        .item-text{
            margin-top: 20px;
            padding: 10px;
            .title{
                &.bigger{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .sub-text{
                font-size: 14px;
                color: #777777;
            }
        }
    }
    .inner-item{

    }
}
.text-block{
    padding: 10px 15px;
    .title{
        font-size: 24px;
        @include media-breakpoint-up(md){
            font-size: 36px;
        }
        span{
            color: $main-color;
        }
        &.white{
            color: #FFF;
        }
    }
    .t-line{
        display: flex;
        align-items: center;
    }
    .subtext{
        font-size: 16px;
        font-style: italic;
        color: $text-color-sub;
        &.smaller{
            font-size: 14px;
            font-style: normal;
        }
        &.white{
            color: #FFF;
        }
    }
}

//CONTACT PAGE
.contact-section-page{
    .c-left{
        .text-block{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .c-right{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        box-shadow: 0 3px 15px;
        padding-left: 0;
        padding-right: 0;
        .block-content{
            background: rgba(0,0,0,0.3);
        }
        .text-block{
            .t-line{
                display: block;
                .t-icon{
                    width: 8%;
                    display: inline-block;
                    font-size: 20px;
                    vertical-align: top;
                    i.fa{
                        font-size: 20px;
                        color: #FFF;
                    }
                }
                .subtext{
                    display: inline-block;
                    width: 85%;
                    vertical-align: top;
                }
            }
        }
    }
}

//MARGIN & PADDING
.mb-14{
    margin-bottom: 14px !important;
}
.section-spacing{
    padding: 50px 0;
} 
.nopadding{
    padding: 0;
}