footer
    #footer
        .container
            .row
                .col-md-3.col-sm-3.col-xs-12.block
                    .footer-block
                        h4 Address
                        hr
                        p Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum.
                        a.learnmore(href="#")
                            | Learn More 
                            i.fa.fa-caret-right
                .col-md-3.col-sm-3.col-xs-12.block
                    .footer-block
                        h4 Useful Links
                        hr
                        ul.footer-links
                            li
                                a(href="#") About Us
                            li
                                a(href="#") Features
                            li
                                a(href="#") Portfolio
                            li
                                a(href="#") Contact
                            li
                                a(href="#") Sign In
                            li
                                a(href="#") Sign Up
                .col-md-3.col-sm-3.col-xs-12.block
                    .footer-block
                        h4 Community
                        hr
                        ul.footer-links
                            li
                                a(href="#") Blog
                            li
                                a(href="#") Forum
                            li
                                a(href="#") Free Goods
                .col-md-3.col-sm-3.col-xs-12(class="<block></block>")
                    .footer-block
                        h4 Recent Posts
                        hr
                        ul.footer-links
                            li
                                a.post(href="#") Lorem ipsum dolor sit amet
                                p.post-date May 25, 2017
                            li
                                a.post(href="#") Lorem ipsum dolor sit amet
                                p.post-date May 25, 2017
                            li
                                a.post(href="#") Lorem ipsum dolor sit amet
                                p.post-date May 25, 2017
    #bottom-footer
        .container
            .row
                .col-md-6.col-sm-6.col-xs-12.btm-footer-links
                    a(href="#") Privacy Policy
                    a(href="#") Terms of Use
                .col-md-6.col-sm-6.col-xs-12.copyright
                    | Developed by 
                    a(href="#") SmartDS Software Solutions
                    |  designed by 
                    a(href="#") Designing Team