mixin available_icon_item(title,icon)
    .item.swiper-slide
        .process-icon-holder
            .process-border
                span.process-icon
                    a(href="#")
                        i(class=`fa fa-${icon}`).feature_icon
        .item-text.text-center
            .box-title.smaller #[=title]
            .text.smaller Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum